body{

    background-color: rgb(54, 54, 53)



}
.photo{
    height:150px;
    width:150px;
    border-radius:50%;
    border: white 5px solid;
    margin-left: 600px;
    margin-right: 300px;
}
.card{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
margin-left: 100px;
margin-right:100px ;
    justify-items: center;
    box-shadow: 3px 5px 7px palevioletred;
    border-radius:5px;
}
.word{
color: rgb(81, 185, 81);
}
.other{
    color: rgb(82, 82, 170);
}